* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    background-image: linear-gradient(to bottom, #2196F3, #3D5AFE, #0D47A1);
}

h1, h2 {
    width: 80%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px auto;
    color: #fff;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 80%;
}
 
#logoTipo {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

div#fundoLogo {
    width: 100px;
    height: auto;
    background-color: #fff;
    display: flex;
    margin: 40px auto;
    border-radius: 50%;
}

main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;     
}

fieldset#formulario {
    width: 40%;
    height: auto;
    margin: 10px auto;
    display: block;
    padding: 40px; 
}

div#centralizar {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    display: flex;
}

#buscarDados {
    width: 100%;
    height: auto;
    margin: 5px auto;
    padding: 5px;
    background-color: #2196F3;
}

input {
    display: block;
}
